<div class="container">
    <header>
      <h1>Create New Flight</h1>
      <button class="back-button" routerLink="/">Back to Home</button>
    </header>
  
    <div class="content">
      <form [formGroup]="flightForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="providerName">Provider Name</label>
          <select
            id="providerName"
            formControlName="providerName"
            required
            (input)="onProviderNameChange($event)"
          >
            <option value=""></option>
            <option value="9W-">Jet Airways</option>
            <option value="SG-">SpiceJet</option>
            <option value="6E-">Indigo</option>
            <option value="G8-">Go Air</option>
          </select>
          <p
            style="color:red"
            *ngIf="
              flightForm.get('providerName')?.touched &&
              flightForm.get('providerName')?.invalid
            "
          >
            Please select provider name
          </p>
        </div>
        <div>
          <label for="providerCode">Provider Code</label>
          <input
            id="providerCode"
            formControlName="providerCode"
            readonly
            required
          />
        </div>
        <div>
          <label for="providerType">Provider Type</label>
          <select id="providerType" formControlName="providerType" required>
            <option value=""></option>
            <option value="Domestic">Domestic</option>
            <option value="International">International</option>
          </select>
          <p
            style="color:red"
            *ngIf="
              flightForm.get('providerType')?.touched &&
              flightForm.get('providerType')?.invalid
            "
          >
            Please select provider type
          </p>
        </div>
        <button type="submit">Insert Flight</button>
      </form>
    </div>
  </div>
  